{% extends 'template.html' %}
{% block content %}
    <h1>Reminders</h1>
    <button id="newReminder" type="button">new reminder</button>
    <form style="display:none">
        <label>Name: </label>
        <input type="text" title="name" id="name">
        <label>Due: </label>
        <input type="date" title="date" id="date">
        <button type="button" id="addReminder">add reminder</button>
    </form>
    <table>
        <thead>
            <th>Name</th>
            <th>Due Date</th>
        </thead>
        <tbody>
            {% for reminder in reminders %}
                <tr>
                    <td>{{reminder.name}}</td>
                    <td>{{reminder.date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='reminders.js')}}" type="module"></script>

    {% endblock %}
